<!-- LOGO -->
<h1><a href="http://videos.isc"><img style="border: 0px solid ; width: 800px; height: 80px;" alt="iSC Networks Videos" title="iSC Networks Videos" src="img/logos/spaceman.png"></a></h1>

<!-- NAVIGATION -->
<ol class="breadcrumb">
<li><a href="index.html">Home</a></li>
<li class="active"><b><a href="http://videos.isc/video-list.html">Video
list</a></b></li>
<li class="active"><b><a href="http://videos.isc/audio-list.html">Audio
list</a></b></li>
</ol>

<!-- PANELS -->
<div align="center"><button id="toggle">Click
here to disable/show the Panels </button>
</div>
<div class="target">
<div class="panel panel-success">
<div class="panel panel-primary">
<div class="panel-heading">
<h3 class="panel-title"><span class="glyphicon glyphicon-hd-video"></span> Basic
settings
</h3>
</div>
<div class="panel-body">
We're using the <b>HD</b>
version for our videos!
</div>
</div>
<div class="panel panel-info">
<div class="panel-heading">
<h3 class="panel-title"><span class="glyphicon glyphicon-hdd"></span> Server message
</h3>
</div>
<div class="panel-body">
We're building our <b>server</b> cluster up! ;-)</div>
</div>
</div>
<div class="panel panel-success">
<div class="panel-heading">
<h3 class="panel-title"><span class="glyphicon glyphicon-thumbs-up"></span> Follow
us!
</h3>
</div>
<div class="panel-body">
<b>Follow</b> on <a href="https://www.facebook.com/internationalSuriyaaComputers" target="_blank">Facebook</a> and <a href="https://twitter.com/SuriyaaKudoIsc" target="_blank">Twitter</a>!!!
</div>
</div>
</div>
<div class="log"></div>
