<head>

  <!-- STATUS -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="dc.language" content="en">
    <meta name="geo.country" content="US">

  <!-- TITLE -->
    <title>{{ page.title }}</title>

  <!-- FAVICON -->
    <link rel="icon" href="assets/images/favicons/favicon.ico"><!-- META -->

  <!-- INFO(S) -->
    <meta name="title" content="iSC Networks Videos">
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="iSC Networks Videos, video.isc, video portal, music">

  <!-- KEYWORDS -->
    <meta name="keywords" lang="en" content="">
    <meta name="keywords" lang="de" content="">

  <!-- CACHE -->
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" /> <!-- No cache, no saving for robots and browsers. -->
    <meta http-equiv="Pragma" content="no-cache" /> <!-- No proxy server cache -->
    <meta http-equiv="Expires" content="0" /> <!-- No expire date used. -->

  <!-- LINKS -->
    <link rel="canonical" href="http://videos.isc/">
    <link rel="alternate" media="handheld" href="http://m.videos.isc/">
    <link rel="alternate" media="only screen and (max-width: 640px)" href="http://m.videos.isc/">
    <link rel="shortlink" href="http://vid.eo">
    <link rel="alternate" type="android-app://isc.videofy.android/http/videos.isc/home">
    <link type="text/plain" rel="author" href="authors.txt">

  <!-- STYLES -->
    <!-- Site -->
      <link href="assets/css/mainpage.css">

    <!-- Bootstrap -->
      <link href="assets/bootstrap-3.1.1/css/bootstrap.min.css"  rel="stylesheet">
      <link href="assets/bootstrap-3.1.1/css/sticky-footer.css"  rel="stylesheet">

    <!-- jQuery -->
      <link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/ui-darkness/jquery-ui.css" rel="stylesheet">
      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>

  <!-- PLAYER -->
    <!-- Video.js -->
      <link href="http://vjs.zencdn.net/4.5/video-js.css" rel="stylesheet" type="text/css">
      <script src="http://vjs.zencdn.net/4.5/video.js"></script>
      <script>
      videojs.options.flash.swf = "http://vjs.zencdn.net/4.5/video-js.swf";
      </script>

    <!-- MediaElement.js -->
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
      <script src="assets/player/MediaElement.js/build/mediaelement-and-player.min.js"></script>
      <link href="assets/player/MediaElement.js/build/mediaelementplayer.min.css">
      <link href="assets/css/mejs-skins.css">

  <!-- COOKIES -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
    <script>window.jQuery || document.write("<script src='assets/js/libs/jquery-1.7.1.min.js'>\x3C/script>")</script>
    <script src="assets/js/cookies/jquery-cookie/jquery.cookie.js"></script>
    <script src="assets/js/cookies/cookieCuttr/jquery.cookiecuttr.js"></script>
    <link rel="stylesheet" href="assets/js/cookies/cookieCuttr/cookiecuttr.css">

  <!-- TOGGLE -->
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script>
    $(document).ready(function() {
    $("#toggle").click(function(){
    $(".target").slideToggle( 'slow', function(){ $(".log").text('');
    });
    });
    });
    </script>

  <!-- API -->


  <!-- FACEBOOK -->
    <meta property="og:url" content="http://videos.isc">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Videofy">
    <meta property="og:locale" content="en_US">
    <meta property="og:image" content="">
    <meta property="og:description" content="The official website of Videofy.">
    <meta property="og:site_name" content="Videofy">
    <link rel="opengraph" href="https://graph.facebook.com/XXXXX"/>

  <!-- TWITTER -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@Videofy">
    <meta name="twitter:title" content="Videofy">
    <meta name="twitter:description" content="The official website of Videofy.">
    <meta name="twitter:creator" content="@SuriyaaKudoIsc">
    <meta name="twitter:image:src" content="">
    <meta name="twitter:domain" content="videos.isc">

  <!-- VERIFICATION(S) -->
    <!-- Google Webmaster-Tools -->
    <meta name="google-site-verification" content="" />
    <!-- Microsoft Bing-Webmastertools -->
    <meta name="msvalidate.01" content="" />
  </head>
